<!-- ***** Special Featured Area Start ***** -->
<section class="home-2 special_feature_area d-md-flex align-items-center">

    <!-- Single Feature Area -->
    <div class="single_feature_area d-flex align-items-center justify-content-center">
        <div class="feature_icon">
            <i class="ti-truck"></i>
            <span><i class="ti-check" aria-hidden="true"></i></span>
        </div>
        <div class="feature_content">
            <h6>FREE SHIPPING</h6>
            <p>For orders above $100</p>
        </div>
    </div>

    <!-- Single Feature Area -->
    <div class="single_feature_area d-flex align-items-center justify-content-center">
        <div class="feature_icon">
            <i class="ti-headphone-alt"></i>
            <span><i class="ti-check" aria-hidden="true"></i></span>
        </div>
        <div class="feature_content">
            <h6>Customer Care</h6>
            <p>24/7 Friendly Support</p>
        </div>
    </div>

    <!-- Single Feature Area -->
    <div class="single_feature_area d-flex align-items-center justify-content-center">
        <div class="feature_icon">
            <i class="ti-back-left"></i>
            <span><i class="ti-check" aria-hidden="true"></i></span>
        </div>
        <div class="feature_content">
            <h6>Happy Returns</h6>
            <p>7 Days free Returns</p>
        </div>
    </div>

    <!-- Single Feature Area -->
    <div class="single_feature_area d-flex align-items-center justify-content-center">
        <div class="feature_icon">
            <i class="ti-credit-card"></i>
            <span><i class="ti-check" aria-hidden="true"></i></span>
        </div>
        <div class="feature_content">
            <h6>100% Money Back</h6>
            <p>If product is damaged</p>
        </div>
    </div>
</section>
<!-- ***** Special Featured Area End ***** -->
<!-- ***** Footer Area Start ***** -->
<footer class="footer_area home-2 section_padding_100">
    <div class="container">
        <div class="row">
            
            <div class="col-12 col-md-6 col-lg-3">
                <div class="single_footer_area">
                    <div class="footer_heading mb-30">
                        <h6>About us</h6>
                    </div>
                    <div class="footer_content">
                        <p>Bigshop is international fashion &amp; accessories online shop. We provide 100% quality products for your needs.</p>
                        <p>Opening Time:</p>
                        <p>Hours: 10.00am - 09.00pm</p>
                        <p>Days: Mon - Fri</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg">
                <div class="single_footer_area">
                    <div class="footer_heading mb-30">
                        <h6>Account</h6>
                    </div>
                    <ul class="footer_widget_menu">
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Your Account</a></li>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Free Shipping Policy</a></li>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Your Cart</a></li>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Return Policy</a></li>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Free Coupon</a></li>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Delivary Info</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg">
                <div class="single_footer_area">
                    <div class="footer_heading mb-30">
                        <h6>Support</h6>
                    </div>
                    <ul class="footer_widget_menu">
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Help</a></li>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Product Support</a></li>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Terms &amp; Conditions</a></li>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Privacy Policy</a></li>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Payment Method</a></li>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Affiliate Proggram</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg">
                <div class="single_footer_area">
                    <div class="footer_heading mb-30">
                        <h6>Social</h6>
                    </div>
                    <div class="footer_social_area mt-15">
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a>
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>
                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i> Linkedin</a>
                        <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i> Pinterest</a>
                        <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i> Google Plus</a>
                        <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i> YouTube</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="single_footer_area mb-30">
                    <div class="footer_heading mb-30">
                        <h6>Download our Mobile Apps</h6>
                    </div>
                    <div class="apps_download">
                        <a href="#"><img src="/Assets/img/core-img/play-store.png" alt="Play Store"></a>
                        <a href="#"><img src="/Assets/img/core-img/app-store.png" alt="Apple Store"></a>
                    </div>
                </div>

                <div class="single_footer_area">
                    <div class="footer_heading">
                        <h6>Join Our Mailing List</h6>
                    </div>
                    <div class="subscribtion_form">
                        <form action="#" method="post">
                            <input type="email" name="mail" class="mail" placeholder="Your E-mail Addrees">
                            <input type="submit" class="submit" value="Subscribe Now">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Bottom Area -->
    <div class="footer_bottom_area">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md">
                    <div class="copywrite_text text-left d-flex align-items-center">
                        <p>Made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="#">Designing World</a></p>
                    </div>
                </div>
                <div class="col-12 col-md">
                    <div class="payment_method text-right">
                        <img src="/Assets/img/payment-method/paypal.png" alt="">
                        <img src="/Assets/img/payment-method/maestro.png" alt="">
                        <img src="/Assets/img/payment-method/western-union.png" alt="">
                        <img src="/Assets/img/payment-method/discover.png" alt="">
                        <img src="/Assets/img/payment-method/american-express.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ***** Footer Area End ***** -->
