<!-- ***** Welcome Slides Area Start ***** -->
<section class="welcome_area home-2">
    <div class="welcome_slides">

        <!-- Single Slide Start -->
        <div class="single_slide home-3 height-700 bg-img background-overlay" style="background-image: url(/Assets/img/bg-img/slide-4.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="welcome_slide_text">
                            <p class="text-white" data-animation="fadeInUp" data-delay="0">hot fashion</p>
                            <h2 class="text-white" data-animation="fadeInUp" data-delay="300ms">Summer Collection</h2>
                            <a href="#" class="btn buy-now" data-animation="fadeInUp" data-delay="600ms">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Slide Start -->
        <div class="single_slide home-3 height-700 bg-img background-overlay" style="background-image: url(/Assets/img/bg-img/slide-5.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="welcome_slide_text">
                            <p class="text-white" data-animation="fadeInLeftBig" data-delay="0">Latest Trends</p>
                            <h2 class="text-white" data-animation="fadeInLeftBig" data-delay="300ms">New Hats 2018</h2>
                            <a href="#" class="btn buy-now" data-animation="fadeInLeftBig" data-delay="600ms">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Slide Start -->
        <div class="single_slide home-3 height-700 bg-img background-overlay-white" style="background-image: url(/Assets/img/bg-img/slide-6.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="welcome_slide_text">
                            <p data-animation="slideInDown" data-delay="600ms">Todays Deals <i class="ti-heart"></i></p>
                            <h2 data-animation="slideInDown" data-delay="300ms">Women Fashion</h2>
                            <a href="#" class="btn buy-now" data-animation="slideInDown" data-delay="0">Check Collection</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- ***** Welcome Slides Area End ***** -->
