@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Layout.cshtml";
}
<!-- ***** Cart Area Start ***** -->
<div class="checkout_area section_padding_0_70">
    <form method="post">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="cart-table clearfix section_padding_50">
                        <h1>@CurrentPage.Name</h1>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- ***** Cart Area End ***** -->
