@*@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Layout.cshtml";
}

@Html.Partial("_HomeSlider")
<div class="hero-unit">
    @Umbraco.Field("content")
</div>
@Umbraco.RenderMacro("uCommerceHomepageCatalog")*@
