@inherits Umbraco.Web.Mvc.UmbracoViewPage<UmbUcommerce.Models.ShippingViewModel>

@{ Layout = "Layout.cshtml"; }


<!-- ***** Breadcumb Area Start ***** -->
<div class="breadcumb_area bg-img background-overlay-white" style="height: 100px;">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
                    <li class="breadcrumb-item active">Checkout</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- ***** Breadcumb Area End ***** -->

<div class="checkout_steps_area">
    <a class="" href="/basket/address"><i class="ti-check"></i> Billing</a>
    <a class="active" href="#"><i class="ti-check"></i> Shipping</a>
    <a class="" href="#"><i class="ti-check"></i> Payment</a>
    <a class="" href="#"><i class="ti-check"></i> Review</a>
    <a class="" href="#"><i class="ti-check"></i> Confirmation</a>
</div>

<!-- <<<<<<<<<<<<<<<<<<<< Checkout Area Start >>>>>>>>>>>>>>>>>>>> -->
<div class="checkout_area section_padding_0_70">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="checkout_details_area mt-50 clearfix">
                    <h5>Billing Details</h5>
                    <form action="#" method="post" class="validate">
                        <div class="checkout_details_area mt-50 clearfix">
                            <h5>Shipping Method</h5>
                            <div class="shipping_method">
                                @if (Model.AvailableShippingMethods.Count > 0)
                                {
                                    var i = 1;
                                    foreach (var shippingMethod in Model.AvailableShippingMethods)
                                    {
                                        <div class="custom-control custom-radio">

                                            @if (shippingMethod.Selected)
                                            {
                                                @Html.RadioButtonFor(x => x.SelectedShippingMethodId, shippingMethod.Value, new { @checked = "checked", @class = "custom-control-input", id = "shippingMethod" + i })
                                            }
                                            else
                                            {
                                                @Html.RadioButtonFor(x => x.SelectedShippingMethodId, shippingMethod.Value, new { @class = "custom-control-input", id = "shippingMethod" + i })
                                            }
                                            <label class="custom-control-label" for="shippingMethod@(i)">@shippingMethod.Text</label>
                                            @{
                                                i++;
                                            }
                                        </div>
                                    }
                                }
                                else
                                {
                                    <p class="alert">WARNING: No shipping methods have been configured for @Model.ShippingCountry within <a href="http://ucommerce.dk">UCommerce</a> administration area.</p>
                                }
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="checkout_pagination mt-50">
                                <a href="/basket/address.aspx" class="btn bigshop-btn">Back to Address</a>
                                <input name="update-shipment" type="submit" class="btn bigshop-btn" value="Continue to Payment Page" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>


        </div>
    </div>
</div>
<!-- <<<<<<<<<<<<<<<<<<<< Checkout Area End >>>>>>>>>>>>>>>>>>>> -->
