<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT aboutUs ANY>
<!ATTLIST aboutUs id ID #REQUIRED>
<!ELEMENT search ANY>
<!ATTLIST search id ID #REQUIRED>
<!ELEMENT confirmation ANY>
<!ATTLIST confirmation id ID #REQUIRED>
<!ELEMENT preview ANY>
<!ATTLIST preview id ID #REQUIRED>
<!ELEMENT payment ANY>
<!ATTLIST payment id ID #REQUIRED>
<!ELEMENT billing ANY>
<!ATTLIST billing id ID #REQUIRED>
<!ELEMENT shipping ANY>
<!ATTLIST shipping id ID #REQUIRED>
<!ELEMENT basket ANY>
<!ATTLIST basket id ID #REQUIRED>
<!ELEMENT category ANY>
<!ATTLIST category id ID #REQUIRED>
<!ELEMENT product ANY>
<!ATTLIST product id ID #REQUIRED>
<!ELEMENT uCommerceEmail ANY>
<!ATTLIST uCommerceEmail id ID #REQUIRED>
<!ELEMENT root ANY>
<!ATTLIST root id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1098" key="98513653-304e-49a3-8f3d-e9bbf5ba3465" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-09-03T11:44:29" updateDate="2018-09-03T12:01:15" nodeName="Abdul" urlName="abdul" path="-1,1098" isDoc="" nodeType="1088" creatorName="Abdul" writerName="Abdul" writerID="0" template="1082" nodeTypeAlias="homePage" isPublished="true">
    <topHeaderMenuItems><![CDATA[umb://document/1e173af4b3d54426a37f2e2ebbf43881]]></topHeaderMenuItems>
    <content><![CDATA[<h1>Project details</h1>
<div class="rich_text">
<p>We're planning on creating a website platform to host campaign kits (we call these kits 'Action Packs') on for BMW Importers around the region to access the different creatives for different campaigns. This would be a CMS set up where once built we would be able to upload each Action Pack ourselves.</p>
</div>]]></content>
    <basket id="1099" key="40973f83-36ef-44b6-b794-b70141abef11" parentID="1098" level="2" creatorID="0" sortOrder="0" createDate="2018-09-03T11:51:18" updateDate="2018-09-03T11:51:18" nodeName="Basket" urlName="basket" path="-1,1098,1099" isDoc="" nodeType="1091" creatorName="Abdul" writerName="Abdul" writerID="0" template="0" nodeTypeAlias="basket" isPublished="true">
      <shipping id="1100" key="385afbea-7965-45c7-9d97-6a7092a81273" parentID="1099" level="3" creatorID="0" sortOrder="0" createDate="2018-09-03T11:51:49" updateDate="2018-09-03T11:51:49" nodeName="Shipping" urlName="shipping" path="-1,1098,1099,1100" isDoc="" nodeType="1097" creatorName="Abdul" writerName="Abdul" writerID="0" template="0" nodeTypeAlias="shipping" isPublished="true" />
      <billing id="1101" key="fd83d2ea-5e42-43fc-a21b-2a4d385572a9" parentID="1099" level="3" creatorID="0" sortOrder="1" createDate="2018-09-03T11:52:29" updateDate="2018-09-03T11:52:29" nodeName="Address" urlName="address" path="-1,1098,1099,1101" isDoc="" nodeType="1093" creatorName="Abdul" writerName="Abdul" writerID="0" template="0" nodeTypeAlias="billing" isPublished="true" />
      <payment id="1102" key="c2f7102e-65ce-4a70-8760-014983376a68" parentID="1099" level="3" creatorID="0" sortOrder="2" createDate="2018-09-03T11:52:45" updateDate="2018-09-03T11:52:45" nodeName="Payment" urlName="payment" path="-1,1098,1099,1102" isDoc="" nodeType="1095" creatorName="Abdul" writerName="Abdul" writerID="0" template="0" nodeTypeAlias="payment" isPublished="true" />
      <preview id="1103" key="6670d602-80c1-4e6e-a1aa-2134ffd41cf7" parentID="1099" level="3" creatorID="0" sortOrder="3" createDate="2018-09-03T11:52:59" updateDate="2018-09-03T11:52:59" nodeName="Preview" urlName="preview" path="-1,1098,1099,1103" isDoc="" nodeType="1096" creatorName="Abdul" writerName="Abdul" writerID="0" template="0" nodeTypeAlias="preview" isPublished="true" />
      <confirmation id="1104" key="9e22e221-ef18-4eac-b941-e4e3fcbcdf60" parentID="1099" level="3" creatorID="0" sortOrder="4" createDate="2018-09-03T11:53:11" updateDate="2018-09-03T11:53:11" nodeName="Confirmation" urlName="confirmation" path="-1,1098,1099,1104" isDoc="" nodeType="1094" creatorName="Abdul" writerName="Abdul" writerID="0" template="0" nodeTypeAlias="confirmation" isPublished="true" />
    </basket>
    <category id="1105" key="6c1ca3f1-d9d6-4546-9689-328a98d47a09" parentID="1098" level="2" creatorID="0" sortOrder="1" createDate="2018-09-03T11:54:27" updateDate="2018-09-03T11:54:27" nodeName="Catalog" urlName="catalog" path="-1,1098,1105" isDoc="" nodeType="1051" creatorName="Abdul" writerName="Abdul" writerID="0" template="0" nodeTypeAlias="category" isPublished="true">
      <product id="1106" key="fceec7ee-05b4-41f3-9321-fb6e4ade8a3f" parentID="1105" level="3" creatorID="0" sortOrder="0" createDate="2018-09-03T11:54:43" updateDate="2018-09-03T11:54:43" nodeName="Product" urlName="product" path="-1,1098,1105,1106" isDoc="" nodeType="1058" creatorName="Abdul" writerName="Abdul" writerID="0" template="0" nodeTypeAlias="product" isPublished="true" />
    </category>
    <search id="1107" key="1e04d72c-2cb6-4425-a2db-a97780f34a13" parentID="1098" level="2" creatorID="0" sortOrder="2" createDate="2018-09-03T11:55:01" updateDate="2018-09-03T11:55:01" nodeName="Search" urlName="search" path="-1,1098,1107" isDoc="" nodeType="1092" creatorName="Abdul" writerName="Abdul" writerID="0" template="0" nodeTypeAlias="search" isPublished="true" />
    <uCommerceEmail id="1108" key="f30a2d68-6132-4711-ad69-866e643121a3" parentID="1098" level="2" creatorID="0" sortOrder="3" createDate="2018-09-03T11:55:10" updateDate="2018-09-03T11:55:10" nodeName="Email" urlName="email" path="-1,1098,1108" isDoc="" nodeType="1061" creatorName="Abdul" writerName="Abdul" writerID="0" template="0" nodeTypeAlias="uCommerceEmail" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
      <uCommerceEmail id="1109" key="1e3bf55e-0ef4-4631-a6c9-2eeb34d97b04" parentID="1108" level="3" creatorID="0" sortOrder="0" createDate="2018-09-03T11:55:28" updateDate="2018-09-03T11:55:28" nodeName="Order Confirmation Email" urlName="order-confirmation-email" path="-1,1098,1108,1109" isDoc="" nodeType="1061" creatorName="Abdul" writerName="Abdul" writerID="0" template="0" nodeTypeAlias="uCommerceEmail" isPublished="true">
        <umbracoNaviHide>0</umbracoNaviHide>
      </uCommerceEmail>
    </uCommerceEmail>
    <aboutUs id="1110" key="1e173af4-b3d5-4426-a37f-2e2ebbf43881" parentID="1098" level="2" creatorID="0" sortOrder="4" createDate="2018-09-03T11:55:45" updateDate="2018-09-03T12:26:17" nodeName="About Us" urlName="about-us" path="-1,1098,1110" isDoc="" nodeType="1090" creatorName="Abdul" writerName="Abdul" writerID="0" template="1079" nodeTypeAlias="aboutUs" isPublished="true">
      <showInTopMenu>1</showInTopMenu>
    </aboutUs>
  </homePage>
</root>